.home {
  display: flex;
  text-align: center;
  flex-direction: column;
  border: 1px solid rgb(30,30,30);
  box-sizing: border-box;
  padding: 10px;
}

.title {
  color: lightpurple;
  font-size: 34px;
  text-align: center;
}

.content {
  width: 100%;
  text-align: center;
  color: green;
}
